<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>### %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</layout>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:/upload/logs/web_%d{yyyy-MM-dd}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>web_%d{yyyy-MM-dd}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 30일 지난 파일은 삭제한다.  -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level [%logger.%method:%line] - %msg %n</pattern>
		</encoder>
	</appender>

	<!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

	<logger name="jdbc.sqlonly" level="INFO" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.audit" level="INFO" />
	<logger name="jdbc.resultset" level="INFO" />
	<logger name="jdbc.resultsettable" level="INFO" />
	<logger name="jdbc.connection" level="INFO" />

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>


</configuration>